@{
    ViewData["Title"] = "Cadastro de Clientes";
}
<div class=" text-center">
 <h1>LISTA DE CLIENTES</h1>
    <a role="button" class="btn btn-outline-success">Adicionar Cliente</a>
    <br>
    <br>
    <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto@email.com</td>
      <td>(11)98765-1234</td>
      <td>
         <div class="btn-group" role="group">
            <a role="button" class="btn btn-success">Atualizar</a>
            <a role="button" class="btn btn-danger">Apagar</a>
         </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>Otto@email.com</td>
      <td>(11)98765-1234</td>
      <td>
         <div class="btn-group" role="group">
            <a role="button" class="btn btn-success">Atualizar</a>
            <a role="button" class="btn btn-danger">Apagar</a>
         </div>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>Otto@email.com</td>
      <td>(11)98765-1234</td>
      <td>
         <div class="btn-group" role="group">
            <a role="button" class="btn btn-success">Atualizar</a>
            <a role="button" class="btn btn-danger">Apagar</a>
         </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
